
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<img class="img-fluid" src="https://d2s36jztkuk7aw.cloudfront.net/sites/default/files/styles/media_responsive_widest/public/sticky/twitter_thumbnail.jpg?itok=sPCvgv2P&timestamp=1553102472" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod tristique diam, vel facilisis nulla condimentum non. Mauris sed aliquam ipsum, vitae pulvinar ligula. Sed faucibus elit vel dui aliquet, in accumsan eros posuere. Duis condimentum magna et enim tempor pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui diam, ut vehicula tellus placerat quis. Nulla facilisi. Sed fringilla porta quam, non porttitor odio sagittis ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<p>
    Fusce ut gravida quam, molestie tincidunt sapien. Nulla nunc nibh, tristique at facilisis eget, commodo eu ante. Nunc eleifend, diam rutrum semper maximus, felis sapien faucibus massa, nec fermentum libero orci eget mi. Aenean tempus tristique varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sit amet arcu dui. Fusce malesuada lacus quis interdum cursus. Nullam sed elementum mauris.
</p>
<p>
    Pellentesque nisl mauris, ornare ac lacus sed, mollis interdum enim. Aenean laoreet elit eu risus maximus, vel elementum urna semper. Proin imperdiet, turpis eget varius suscipit, nisi lorem tristique quam, feugiat commodo neque erat ut velit. Curabitur sit amet diam non magna semper aliquet et et libero. In vestibulum sem a elit egestas tincidunt. Sed ut ultrices libero, blandit eleifend mi. Aenean gravida consectetur purus, at posuere leo viverra eu.
</p>
<p>
    Sed commodo ultrices feugiat. Duis at leo libero. Curabitur a lectus elit. Aliquam aliquam id lorem non rhoncus. Sed et sodales mi. Nulla sapien libero, scelerisque at condimentum vitae, consectetur eu arcu. Vivamus vitae convallis metus, euismod malesuada lorem.
</p>
<p>
    Vestibulum sed ipsum sit amet lorem vestibulum maximus sed eu eros. Curabitur non finibus nunc. Nullam mollis, felis at mattis commodo, turpis ipsum varius tellus, a accumsan libero lacus quis mi. Aenean egestas finibus nisl id interdum. Pellentesque faucibus, lacus non tristique congue, enim massa tempor neque, sed elementum odio sem vel risus. Suspendisse vitae rutrum eros. Nunc euismod enim pharetra hendrerit luctus. Duis semper, mi sed tincidunt euismod, felis neque ultrices purus, id volutpat lectus tellus quis ex. Sed cursus nulla a ligula pulvinar semper. Nam varius quam eu sapien vehicula mollis. In id egestas diam, quis faucibus orci. Cras sodales mollis venenatis. Sed sodales nulla nec augue ultricies laoreet. Nulla tellus est, condimentum id vulputate nec, cursus eget urna. Donec ultrices porta sapien eget fermentum. Sed malesuada posuere ligula, ac pulvinar purus ultrices ac.
</p>
