@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Practice</h1>
    <p>* Not affiliated with or endorsed by GitHub</p>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed sodales sem. Suspendisse potenti. Ut nec ligula neque. Aenean lacinia neque diam, sed fringilla eros aliquam posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut quis porttitor orci. Proin nunc lectus, lacinia in laoreet sit amet, feugiat ut velit. Proin cursus erat vel tortor facilisis dignissim. Nam sed tellus et dui lacinia interdum. Aliquam et nunc vitae mauris scelerisque ullamcorper. Nam venenatis fermentum erat at hendrerit. Aenean suscipit efficitur varius.</p>

<p>Mauris pharetra dignissim elit sed scelerisque. Praesent cursus, nulla id commodo congue, metus mauris interdum odio, et sagittis ipsum lectus eu enim. Nunc ullamcorper porta lacus, non blandit lectus porttitor a. Duis nec maximus arcu. Etiam fermentum ex vitae ante luctus elementum. In ullamcorper varius malesuada. Ut porttitor aliquet ultrices. Aliquam ornare, quam sit amet efficitur sagittis, augue lorem tempor lacus, id tempus mauris enim non lacus. Donec nec dapibus turpis, vel scelerisque tortor. Maecenas malesuada tortor eu lorem lobortis luctus. Pellentesque auctor leo id dignissim pretium. Curabitur lectus nisl, eleifend elementum fermentum eu, consectetur sit amet enim. Duis cursus lorem nec tellus fermentum pretium. Nulla viverra viverra arcu, at finibus velit fringilla a. Suspendisse vestibulum est vitae consectetur pretium. Nullam in lorem sit amet lacus sagittis feugiat.</p>

<p>Fusce consectetur ultricies risus eu posuere. Nullam pretium, augue posuere congue lobortis, erat libero blandit nisl, id varius sapien nunc id nulla. Integer placerat imperdiet mi. Duis porta lorem vitae bibendum feugiat. Quisque arcu nunc, molestie sit amet ante porta, interdum rhoncus lorem. Suspendisse congue nec est consequat tincidunt. Mauris nec volutpat metus, in pellentesque purus. Fusce accumsan est ac ante vestibulum semper. Ut ac interdum orci. Fusce rutrum suscipit rhoncus. Fusce nulla purus, vehicula in libero a, consequat pulvinar nisi. Duis feugiat quis nisi quis consectetur. Praesent non felis ex.</p>

<p>Sed risus felis, aliquet vel mi eget, malesuada venenatis elit. Nulla aliquam euismod diam, quis auctor augue auctor vitae. Sed viverra orci ac nisl efficitur, ac faucibus tortor pretium. Suspendisse blandit nunc sagittis vehicula sodales. Sed et ante sem. Suspendisse semper nibh sed mauris sollicitudin, at mollis leo lacinia. Pellentesque dolor nulla, facilisis at dui et, dignissim tempor sapien. Pellentesque interdum fermentum erat id consequat. Sed tincidunt consectetur leo et placerat. Maecenas convallis ullamcorper mi, ut tempus elit gravida id. Nulla consectetur eget ligula vel malesuada.</p>

<p>Sed ac porttitor ipsum. Mauris volutpat viverra ligula ac eleifend. Phasellus vitae rhoncus mauris, sed elementum ipsum. Sed tincidunt orci lorem, a aliquam ex efficitur eget. Praesent malesuada malesuada porta. Nunc dolor lectus, gravida at erat et, egestas eleifend nisi. Nullam a condimentum erat. Sed egestas, magna venenatis pulvinar molestie, lacus velit tristique diam, at sollicitudin nibh enim ut justo. Praesent auctor, nulla sed pulvinar mattis, augue odio iaculis odio, ut tincidunt libero eros eget odio. Vestibulum molestie felis quis sem gravida, vel faucibus mauris elementum. Pellentesque in enim quis felis suscipit accumsan.</p>