@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Practice</h1>
    <p>* Not affiliated with or endorsed by GitHub</p>
</div>

<p>This is a website that does nothing. It's strictly here to be the deployment target of a GitHub repo called <a href="https://github.com/TechnicalityOnline/ghpaspnetcore">ghpastpnetcore</a>.</p>

<p>GHP stands for GitHub Practice. It's a repo to let developers that are new to GitHub practice forking and making pull requests.</p>

<p>* Not affiliated with or endorsed by GitHub</p>
