@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Practice</h1>
    <p>* Not affiliated with or endorsed by GitHub</p>
</div>

<p>This is a website that does nothing. It's strictly here to be the deployment target of a GitHub repo called <a href="https://github.com/TechnicalityOnline/ghpaspnetcore">ghpastpnetcore</a>.</p>

<p>GHP stands for GitHub Practice. It's a repo to let developers that are new to GitHub practice forking and making pull requests.</p>

<p>Feel free to add random pages, images, text and submit a pull request. Keep it clean and non-controversial and I'll accept the request and GitHub action will deploy the changes here.</p>

<hr />
<img class="img-fluid" src="https://www.steamboat.com/-/media/steamboat/winter-images/scenics/thumbnails/750x422/dsc_3580.ashx?h=422&w=750&hash=BAEDDC0B8202CA36448EEB64266F7910" />
<img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@@._V1_UX182_CR0,0,182,268_AL_.jpg" />
<img class="img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/41I9eBOrE1L._SX381_BO1,204,203,200_.jpg" />
